project_id = "dzrfbulwiqhzxxbcnzhn"

[functions.parse-script]
verify_jwt = false

[functions.generate-character]
verify_jwt = false

[functions.generate-scenes]
verify_jwt = false

[functions.generate-outfit]
verify_jwt = false

[functions.engine-shootout]
verify_jwt = false

[functions.generate-location]
verify_jwt = false

[functions.generate-shot]
verify_jwt = false
